#p1 {
	background-color: white;
	font-size: 20;
	width: 900px;
	border-style: double; 
	border-color: black; 
	margin: 30px;
	border-spacing: 10px 50px;
	padding: 10px;
}
#p2 {
	background-color: white;
	font-size: 20;
	width: 900px;
	border-style: double; 
	border-color: black; 
	margin: 30px;
	border-spacing: 10px 50px;
	padding: 10px;
}
#p3 {
	background-color: white;
	font-size: 20;
	width: 900px;
	border-style: double; 
	border-color: black; 
	margin: 30px;
	border-spacing: 10px 50px;
	padding: 10px;
}
#p4 {
	background-color: white;
	font-size: 20;
	width: 900px;
	border-style: double; 
	border-color: black; 
	margin: 30px;
	border-spacing: 10px 50px;
	padding: 10px;
}
